<div id="info_list">
  <h3><%= @nav_description %></h3>
  <%@infos.each do |info|%>
    <ul>
      <%unless info.title.nil?%>

        <li>
          <h4>
            <%if info.title.content_type_id == 5%>
              <%= info.title.value%>
            <%elsif info.title.content_type_id == 7%>
              <%=image_tag(info.title.attachments.find(:first).public_filename(:thumb))%>
            <%end%>
            <span id="updated_at"><%= info.updated_at.month.to_s+'月'+info.updated_at.day.to_s+'日'+info.updated_at.hour.to_s+':'+info.updated_at.min.to_s %></span>
          </h4>
          <p>
    <%#=info.summary%>
          </p>

        </li>
        <div style="font-size:10px">
          发布到<%= info.topics.size %>个地盘
          浏览<%= info.number_of_view %>次
          共<%= info.number_of_comments %>评论
          <%if info.creator_id == current_user.id%>

            <%= link_to '查看' ,:controller=>'/infos',:action=> 'show',:id=>info.id %>
            <%= link_to '修改' ,:controller=>'/infos',:action=> 'edit',:id=>info.id %>
            <%= link_to '删除' ,:controller=>'/infos',:action=> 'destroy',:id=>info.id %>
          <%end if logged_in?%>
          <%= link_to '查看' ,:controller=>'/infos',:action=> 'show',:id=>info.id unless logged_in?%>
        </div>


      <%end%>
    </ul>
  <%end%>

</div>

