<% form_for @picture, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <% if action_name == "new" %>
    <p>
      <%= f.label :is_avatar,"是否作为头像" %>
      <%= f.check_box :is_avatar %>
    </p>
  <% end %>
  <p>
    <%= f.file_field  :image_file %><br />
    或者通过URL<%= f.text_field :image_file_url %>
  </p>
  <p>
    <%= f.hidden_field :image_file_temp %>
    <b>Uploaded Image:</b><br />
    <%= embedded_image_tag(@picture.operate { |img| img.resize 100 }) if @picture.has_image? %>
  </p>
  <p>
    <button type="submit"><%= button_name  %></button>
  </p>
<% end %>