<div id="item">
  <% for item in @items%>
    <h3><%=item.item_type.name%></h3>
    <%if item.content_type_id == @item_is_video  %>
      <%= render :partial=>'info_detail_video',:locals=>{:item=>item} %>
    <%elsif item.content_type_id == @item_is_audio%>
      <%= render :partial=>'info_detail_audio',:locals=>{:item=>item} %>

    <%elsif item.content_type_id == @item_is_pure_text%>
      <%= render :partial=>'info_detail_pure_text',:locals=>{:item=>item} %>

    <%elsif item.content_type_id == @item_is_digital%>
      <%= render :partial=>'info_detail_digital',:locals=>{:item=>item} %>
    <%elsif item.content_type_id == @item_is_img%>
      <%= render :partial=>'info_detail_img',:locals=>{:item=>item} %>

    <%elsif item.content_type_id == @item_is_rich_text%>
      <%= render :partial=>'info_detail_rich_text',:locals=>{:item=>item} %>

    <%elsif item.content_type_id == @item_is_attachment%>
      <%= render :partial=>'info_detail_attachment',:locals=>{:item=>item} %>

    <%elsif item.content_type_id == @item_is_geo%>
      <%= render :partial=>'info_detail_map',:locals=>{:item=>item} %>

    <%elsif item.content_type_id == @item_is_flash%>
      <%= render :partial=>'info_detail_flash',:locals=>{:item=>item} %>
    <%end%>
  <% end%>
</div>

<div id="other">
      <%= render :partial=>'info_detail_others',:locals=>{:item=>item} %>
</div>



