<div id="info_list">
<h3><%= @nav_title %></h3>
  <%@infos.each do |info|%>
    <ul>
      <%unless info.title.nil?%>

        <li>
          
            <%if info.title.content_type_id == 5%>
              <%= link_to info.title.value,:controller=>'/zones',:action=> 'show_info_details',:id=>info.id%>
            <%elsif info.title.content_type_id == 7%>
              <%=link_to image_tag(info.title.attachments.find(:first).public_filename(:thumb)),:controller=>'/zones',:action=> 'show_info_details',:id=>info.id%>
            <%end%>
          
          <p>
            <%#=info.summary%>
          </p>
        </li>
        <li class="info_statistics">
          发布到<%= info.topics.size %>个地盘
          浏览<%= info.number_of_view %>次
          共<%= info.number_of_comments %>评论
        </li>


      <%end%>
    </ul>
  <%end%>

</div>