<ul id="topic_list">

  <%@topics.each do |topic|%>
    <li id="topic_entry">
      <div id="topic_avatar">
        <%=link_to image_tag(topic.topic_avatar.public_filename,:size=>"70X70"),{:controller=>:zones,:action=>:show,:id=>topic.id},{:target=>'_blank'} unless topic.topic_avatar.nil?%>
        <%=link_to image_tag("rails.png",:size=>"70X70"),{:controller=>:zones,:action=>:show,:id=>topic.id},{:target=>'_blank'} if topic.topic_avatar.nil?%>
      </div>

      <div id="topic_about">
        <span><%=link_to topic.my_title,{:controller=>:zones,:action=>:show,:id=>topic.id},{:target=>'_blank'}%></span>
        <div id="topic_description">
          <%= topic.description %>
        </div>

        <p>
          浏览<span><%=topic.view_count %></span>次
          共<span><%= topic.info_count%></span>条信息
          <span><%= topic.maintainers(1).size%></span>人参与添加信息
          <span><%= topic.following_count%></span>人加入关注
          <span><%= topic.helpers.size%></span>个帮手
        </p>

        <div id="topic_operation">
          <ul>
            <li><span><%= link_to "查看",:action=>:list_infos_of_topic,:id=>topic.id %></span></li>
            <%if @current_user_and_topic_relation == 0%>

              <li><span>新建信息</span>
                <ul>
                  <!--下面采用循环方式，列出地盘下的各类信息-->
                  <%topic.info_types.each do |info_type|%>
                    <li><%= link_to info_type.name+'信息',:action=>:new_info,:id=>info_type.id,:topic_id=>topic.id %></li>
                  <%end%>
                </ul>
              </li>
              <li><span><%= link_to "修改",:action=>:edit_topic,:id=>topic.id %></span></li>
              <li><span><%= link_to "维护申请审核(#{topic.maintainings_for_verify.size})",:controller=>'/maintainings',:action=>'index',:id=>topic.id %></span></li>
              <li><span><%= link_to "加入申请审核(#{topic.followings_for_verify.size})",:controller=>'/followings',:action=>'index',:id=>topic.id %></span></li>
              <li><span><%= link_to "信息审核(#{topic.infos_for_verify.size})",:controller=>'/topic_infos',:action=>'index',:id=>topic.id %></span></li>
              <li><span><%= link_to "寻找帮手",:controller=>:my,:action=>:list_helpers_of_topic,:id=>topic.id %></span></li>

            <%elsif  @current_user_and_topic_relation == 1%>
              <li><span><%= link_to "新建信息" %></span>
                <ul>
                  <!--下面采用循环方式，列出地盘下的各类信息-->
                  <%topic.info_types_available_for(current_user.id).each do |info_type|%>
                    <li><%= link_to info_type.name+'信息',:action=>:new_info,:id=>info_type.id,:topic_id=>topic.id %></li>
                  <%end%>
                </ul>
              </li>
              <%if topic.helper?(current_user)%>
                <li><span><%= link_to "维护申请审核(#{topic.maintainings_for_verify.size})",:controller=>'/maintainings',:action=>'index',:id=>topic.id%></span></li>
                <li><span><%= link_to "加入申请审核(#{topic.followings_for_verify.size})",:controller=>'/followings',:action=>'index',:id=>topic.id %></span></li>
                <li><span><%= link_to "信息审核(#{topic.infos_for_verify.size})",:controller=>'/topic_infos',:action=>'index',:id=>topic.id %></span></li>

              <%end%>
              <li><span><%= link_to "以后不再添加信息",:controller=>:maintainings,:action=>:cancel_maintaining,:id=>topic.id %></span></li>
            <%elsif @current_user_and_topic_relation == 2%>
              <li><span><%= link_to "取消关注",:controller=>:followings,:action=>:cancel_following,:id=>topic.id %></span></li>
              <li><span><%= link_to "加入维护",:controller=>:maintainings,:action=>:participate_maintaining,:id=>topic.id %></span></li>
            <%end%>
          </ul>
        </div>
      </div>


      <div style="clear: both;"></div>
    </li>
  <%end%>
</ul>