
<% form_tag({ :action => "create" },:enctype =>"multipart/form-data") do %>

  <div id="fields">
    <%@item_types.each do |item_type|%>
      <%=label_tag item_type.name%><br>
      <%if item_type.content_type_id == 3 %>
        <%=file_field_tag  "item_values[]"%><br>
      <%elsif item_type.content_type_id == 4%>
        <%=file_field_tag  "item_values[]"%><br>
      <%elsif item_type.content_type_id == 7%>
       <%=file_field_tag  "item_values[]"%><br>
      <%elsif item_type.content_type_id == 5%>
        <%=text_area_tag  "item_values[]"%><br>
      <%elsif item_type.content_type_id == 6%>
        <%=text_field_tag  "item_values[]"%><br>
      <%end%>
    <%end%>
  </div>

  <%= label_tag 'if_commented','不允许评论' %>
  <%=  radio_button_tag  'if_commented',0,checked=false %>
  <%= label_tag 'if_commented','允许评论' %>
  <%=  radio_button_tag  'if_commented',1,checked=true %><br>

  <p>以下是可以选择加入的主题</p>
  <%@optional_topics.each do |topic|%>
    <%= check_box_tag  "optional_topic_ids[]",topic.id%>
    <%= link_to  topic.title%>
    <br/>
  <%end%>

  <%= hidden_field_tag 'info_type_id',@info_type_id %>

  <%= submit_tag(value = "create", options = {}) %>
<% end %>