<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户首页</title>
    <link href="indexOfUser/index_my.css" rel="stylesheet" type="text/css" />
    <%= stylesheet_link_tag 'indexOfUser/index_my.css' %>
    <%= stylesheet_link_tag "list_and_details.css" %>

    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'flowplayer-3.1.4.min' %>
    <%= javascript_include_tag 'ufo' %>
  </head>
  <body>
    <!--container是一个页面容器div定义了可见区域的-->
    <div id="container">
      <!--pageHeader定义页面头部信息-->
      <div id="pageHeader">
        <div id="banner"></div>
        <div id="login">
          <% if logged_in? %>
            <p>
              登录者是:
              <%= current_user.login %>
              <%= link_to "注销", session_path,:method => :delete %>
            </p>
          <% else %>
            <p><%= link_to '登录', new_session_path %>或者<%=link_to '注册',:controller=>'registers',:action=>'new'%></p>
          <% end %>
        </div>
      </div>
      <!--left定义页面左侧信息-->
      <div id="left">
        <div id ="menu">

          <h3>我的信息</h3>
          <ul>
            <%if current_user.nil?%>
              <%InfoType.display_tools_for_no_logon.each do |tool|%>
                <li><%= link_to "#{tool.cloud_tool_name}",:controller=>'/my',:action=>'app',:id=>tool.id %></li>
              <%end%>
            <%else%>
              <%if UserInfoType.info_types_of_logon_user(current_user).blank?%>
                请在自助管理中订制自己的应用
              <%else%>
                <%UserInfoType.info_types_of_logon_user(current_user).each do |tool|%>
                  <li><%= link_to "#{InfoType.find(tool.info_type_id).cloud_tool_name}",:controller=>'/my',:action=>'my_info',:id=>InfoType.find(tool.info_type_id).id %>
                    <ul>
                      <li><%= link_to "新建",:controller=>'/infos',:action=>'new',:id=>InfoType.find(tool.info_type_id).id %></li>
                    </ul>
                  </li>
                <%end%>
              <%end%>
            <%end%>
          </ul>
        </div>
        <div id ="menu">
          <h3>我的地盘</h3>
          <ul>
            <%if !current_user.nil?%>
              <!--地盘列表的单项开始，放在循环中-->
              <%@my_c_topics.each do |topic|%>
                <li>
                  <%= link_to topic.title,:controller=>'/my',:action=>'topic_details',:id=>topic.id %>
                  <ul>
                    <!--下面采用循环方式，列出地盘下的各类信息-->
                    <%topic.info_types.each do |info_type|%>
                      <li><%= link_to '创建'+info_type.name+'信息',:controller=>'/infos',:action=>'new',:id=>info_type.id,:topic_id=>topic.id %></li>
                    <%end%>
                  </ul>
                </li>
                <!--地盘列表的单项结束-->
              <%end%>
            <%else%>
              <li><p>空。。。</p></li>
            <%end%>
          </ul>
        </div>
        <div id ="menu">
          <h3>个人管理</h3>
          <ul>
            <li><%= link_to "我创建的地盘",:controller=>'/my',:action=>'my_c_topics' %></li>
            <li><%= link_to "我维护的地盘",:controller=>'/my',:action=>'my_m_topics' %></li>
            <li><%= link_to "我加入的地盘",:controller=>'/my',:action=>'my_f_topics' %></li>
            <li><%= link_to "我的个人信息",:controller=>'users',:action=>'edit',:id=>current_user%></li>
            <li><%= link_to "订制信息工具",:controller=>'user_info_types',:action=>'edit_user_info_types'%></li>
          </ul>
        </div>
      </div>
      <!--middle定义页面中部信息-->
      <div id="middle">
        <%=yield%>
      </div>
      <!--right定义页面右侧信息-->
      <div id="right">
        <p>广告</p>
      </div>
      <!--footer定义页面底部信息-->
      <div id ="footer"> </div>
    </div>
  </body>
</html>
